* {
	margin-top: 0;
	margin-bottom: 0;
}

body {
	font-size: 125%;
	font-family: sans-serif;
	color: #0c0c0c;
	background-color: #eae3e3;
}

div#contents {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
}

body > hr {
	width: 70%;
}

footer {
	text-align: center;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	width: 70%;
	border-radius: 1rem;
	background-color: #d8d4d4;
}

footer:hover {
	background-color: #c2c1d2;
}

img {
	max-height: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

footer > a {
	text-decoration: none;
	padding: 2rem;
	display: block;
}

h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
}
h3 {
	font-size: 110%;
}

span.italic {
	font-style: italic;
}
span.bold {
	font-weight: bold;
}
span.codeblock {
	border-radius: 0.5rem;
	background-color: #444444;
	color: #eae3e3;
	padding: 0.25rem;
	font-family: monospace;
	font-size: 110%;
	margin-bottom: 6px;
}
span.codesegment {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem;
}
span.quote {
	color: var(--quote-color);
}
span.strikethrough {
	text-decoration: line-through;
}
