@keyframes post_widen {
	from {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
	to {
		margin-right: -2rem;
		margin-left: -2rem;
	}
}
@keyframes post_shrink {
	from {
		margin-right: -2rem;
		margin-left: -2rem;
	}
	to {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}
}

body {
	font-size: 150%;
	font-family: sans-serif;
	color: #0c0c0c;
	background-color: #eae3e3;
	text-align: center;
}

header {
	font-size: 200%;
	padding: 2rem;
	font-weight: bold;
}

hr {
	width: 50%;
	margin-left: auto;
	margin-top: 0;
	margin-right: auto;
}

a {
	display: block;
	padding: 1rem;
	text-decoration: none;
}

div#posts {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	padding-top: 0;
}

div#posts > ul {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	border-radius: 1rem;
	padding: 3rem;
}

div#posts > ul > li {
	margin-bottom: 1rem;
	text-align: center;
	list-style-type: none;
	background-color: #d8d4d4;
	border-radius: 1rem;
	animation-name: post_shrink;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

div#posts > ul > li:hover {
	background-color: #c2c1d2;
	animation-name: post_widen;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

div#posts > ul > li > a > h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 115%;
}
